.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 150px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button{
    background: transparent;
    font-size: 17px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 60px;
    cursor: pointer;
    transition: 0.5s;
}
.navbar button:hover{
    background-color: #ee4c2b1f;
}

/* //dynamic effect which remembers the state */
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
    cursor: pointer;
}


/* the dot is hidden if the cart is empty(buy icon) */
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 10px;
    /* poistion of dots */
    top: -10px;
    right: -10px;
}