.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  max-height: max(4vh, 120px);
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar button {
  background: transparent;
  font-size: 17px;
  color: #49557e;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 60px;
  cursor: pointer;
  transition: 0.5s;
}
.navbar button:hover {
  background-color: #ee4c2b1f;
}

/* //dynamic effect which remembers the state */
.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
  cursor: pointer;
}

/* the dot is hidden if the cart is empty(buy icon) */
.navbar-search-icon {
  position: relative;
}
.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 10px;
  /* poistion of dots */
  top: -10px;
  right: -10px;
}

/* user profile button */
.navbar-profile {
  position: relative;
}
.nav-profile-dropdown {
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
}
.navbar-profile:hover .nav-profile-dropdown {
  display: flex;
  flex-direction: column;
  background-color: #fff2ef;
  gap: 10px;
  padding: 12px 25px;
  border-radius: 4px;
  border: 1px solid;
  outline: 2px solid;
  list-style: none;
}

.nav-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.nav-profile-dropdown img {
  width: 20px;
}

.nav-profile-dropdown li:hover {
  color: tomato;
}

/* Making the nav bar resoponsive */
@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }
  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right {
    gap: 30px;
  }
  .navbar-right img {
    width: 22px;
  }
  .navbar-right button {
    padding: 8px 25px;
  }
}

/* for more smaller screen */
@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }
  .navbar-menu {
    gap: 15px;
    font-size: 15px;
  }
  .navbar-right {
    gap: 20px;
  }
  .navbar-right img {
    width: 20px;
  }
  .navbar-right button {
    padding: 6px 20px;
    font-size: 15px;
  }
}

/* more smaller screen */
@media (max-width: 900px) {
  .navbar-menu {
    display: none;
  }
}
